MYSQL_ROOT_PASSWORD=db_dev
DB_ROOT_PASSWD=db_dev  # Required, the value should be root's password of MySQL service.
SEAFILE_ADMIN_EMAIL=me@example.com # Specifies Seafile admin user, default is 'me@example.com'.
SEAFILE_ADMIN_PASSWORD=asecret     # Specifies Seafile admin password, default is 'asecret'.
SEAFILE_SERVER_LETSENCRYPT=false   # Whether to use https or not.
SEAFILE_SERVER_HOSTNAME=docs.seafile.com # Specifies your host name if https is enabled.
