# General UID/GIU and Timezone
TZ=Europe/Paris
PUID=1000
PGID=1000

# Input your VPN provider and type here
VPN_SERVICE_PROVIDER=mullvad
VPN_TYPE=wireguard

# Mandatory, vpn forwarded port
FIREWALL_VPN_INPUT_PORTS=

# Copy all these varibles from your generated configuration file
WIREGUARD_PUBLIC_KEY=
WIREGUARD_PRIVATE_KEY=
#WIREGUARD_PRESHARED_KEY=
WIREGUARD_ADDRESSES=

# Optional location varbiles, comma seperated list,no spaces after commas, make sure it matches the config you created
SERVER_COUNTRIES=France
#SERVER_CITIES=Marseille

# Heath check duration
HEALTH_VPN_DURATION_INITIAL=120s
